.buttons_area {
	margin-left: -20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.cancel_button {
    margin-left: 10px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #280145;
    background-color: #0b1baf;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 20px;
}
.cancel_button:hover
{
    border: 1px solid #450306;
    background-color: #e41282;
    color: #ffffff;
}
.add_button {
    margin-left: 10px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #280145;
    background-color: #026d2b;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 20px;
}
.add_button:hover
{
    border: 1px solid #285603;
    background-color: #5ccc00;
    color: #ffffff;
}

.add_button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
.msg-pressed{
	background-color: #b7b7cd;
}
.msg-unpressed{
	background-color: none;
}
.modal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: right;
	border-radius: 12px;
	position: absolute;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Inter';
	background-color       : #b6bba0a2; 
}

.modal-img {
	display: flex;
	overflow: scroll;
	scroll-behavior: smooth;
	transition: scroll 0.3s ease-in-out;
	overflow: auto;
	max-width: 80vw;  
	max-height: 80vh; 
  }

.textarea{
	resize:none;
	margin-top: 10px;
	width: 99.6%;
}

.wrapper{
	position:absolute;
	margin-top:-124px;
    margin-left:25px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: helvetica, Arial, sans-serif;
	font-weight: normal;	
}

.shape{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.bubble{
	background-image: -webkit-linear-gradient(top, #fdfdfd, #f3f3f4);
    opacity: 0.9;
	border-radius: 10px;
    width: 250px;
    max-width: 17vw;
    height: 200px;
    overflow-y: scroll;
	overflow-x: none;
	white-space: nowrap;
    scrollbar-color: red orange;
    scrollbar-width: none;
    overflow-x: hidden;
	position: relative;
	border: 2px solid #a7a8ab;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.msg{
	padding-left: 10px;
	background-image: -webkit-linear-gradient(top, #fdfdfd, #f3f3f4);
    opacity: 0.9;
	border-radius: 10px;
	min-width: 100%;
	width: 310px;
    height: 40px;
    overflow: scroll;
	word-break:keep-all;
	white-space: nowrap;
    scrollbar-color: red orange;
    scrollbar-width: thin;
	position: relative;
	border: 2px solid #a7a8ab;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.bubble:after{
	margin-top: 20px;
	content: "";
	position: fixed;
	top: 83.6%;
	left: 35%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	box-shadow: 2px 2px 2px #a7a8ab;
	border: 4px solid;
	border-color: transparent #f3f3f4 #f3f3f4 transparent;
}
@media screen and (min-width: 150px) {
	.wrapper{
		margin-top:-140px;
	}
    .shape {
        margin-left: -65px;
		padding-right: 100px;
        }
	.bubble:after{
		left: 50%;
		display: none;
	}
  }
  @media screen and (min-width: 350px) {
	.wrapper{
		margin-top:-124px;
	}
	.bubble:after{
		display: inline-block;
	}
  }
  @media screen and (min-width: 470px) {
    .bubble:after{
		left: 45%;
  }
}
  @media screen and (min-width: 1000px) {
    .shape {
        margin-left: -55px;
		padding-right: 100px;
        }
	.bubble{
		max-width: 15vw;
		}
	.wrapper{
		margin-left:35px;
	}
  }