.logout {
    display: flex;
    max-width: 87vw;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 5%; 
    font-family: 'Inter';
}

.logout>h1 {
font-size: 18px;
letter-spacing: -1px;
}

.logout_button {
    margin-left: 10px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #280145;
    background-color: #0b1baf;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 20px;
}

.logout_button:hover
{
    border: 1px solid #450306;
    background-color: #e41282;
    color: #ffffff;
}

.user_name {
    color: #a06814
}

@media screen and (min-width: 1950px) {
    .logout {
        max-width: 86vw;
        }
  }
  @media screen and (min-width: 2100px) {
    .logout {
        max-width: 84vw;
        }
  }
  @media screen and (min-width: 2250px) {
    .logout {
        max-width: 82vw;
        }
  }
  @media screen and (min-width: 2400px) {
    .logout {
        max-width: 80vw;
        }
  }
  @media screen and (min-width: 2550px) {
    .logout {
        max-width: 78vw;
        }
  }
  @media screen and (min-width: 2700px) {
    .logout {
        max-width: 76vw;
        }
  }
  @media screen and (min-width: 2850px) {
    .logout {
        max-width: 74vw;
        }
  }
  @media screen and (min-width: 3000px) {
    .logout {
        max-width: 73vw;
        }
  }
  @media screen and (min-width: 3150px) {
    .logout {
        max-width: 72vw;
        }
  }
  @media screen and (min-width: 3300px) {
    .logout {
        max-width: 71vw;
        }
  }
  @media screen and (min-width: 3450px) {
    .logout {
        max-width: 70vw;
        }
  }