.pagination {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
  
 .pagination>.active>button {
  background-color: #47ccde;
  color: #fff;
 }

 .pagination>ul {
 list-style: none;
 display: flex;
 flex-wrap: nowrap;
 }
  
 .pagination_button {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 4px;
 }

 .pagination_button:hover {
  color: #098a9b;
  background-color: rgb(161, 184, 184);
}

.pagination_button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}
  
 .pagination_button {
  color: #47ccde;
  background-color: azure;
 }