.posts-container {
  max-width: 1600px;
  justify-content: center;
  margin: auto;
  width: 85%; 
  height: 85%;
  display: grid;
  grid-auto-rows: minmax(20%, 300px);
  grid-template-columns: repeat(auto-fill, minmax(30%, 300px)); 
  grid-gap: 1em;
}

.posts-item {
  position: relative;
  overflow: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  margin: 5px;
  border: 1px solid;
  border-color: #b6bba0a2; 
}

.posts-item:last-of-type {
  grid-column: 1 / -1;
  height: 15%;
  box-shadow: none;
  border: none;
}

.posts-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}

.main-modal-fullscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  border-radius: 12px;
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Inter';
  background-color       : #b6bba0a2; 
}

.main-modal-fullscreen-img {
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
  overflow: auto;
  max-width: 80vw;  
  max-height: 80vh; 
}