.panel {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    bottom: 1%;
    min-width: 260px;
}


.panelModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    position: fixed;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter';
    background-color: #b6bba0a2;
}

.panelModal-deletePost {
    background-color: #c3b398a2;
}

.panelModal-deletePost>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.panelModal-editPost {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b6bba0a2;
}

.panelModal-deletePost {
    background-color: #c3b398a2;
}

.panelModal-deletePost>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.delete-button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #280145;
    background-color: #b53232;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 20px;
}

.delete-button:hover {
    border: 1px solid #285603;
    background-color: #ef0b0b;
    color: #ffffff;
}

.cancel_button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #280145;
    background-color: #454fab;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 20px;
}

.cancel_button:hover {
    border: 1px solid #450306;
    background-color: #5291ae;
    color: #ffffff;
}