.NewPost {
    position: relative;
    max-width: 87vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 5%;
    font-family: 'Inter';
}

.NewPost>button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #280145;
    background-color: #026d2b;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 20px;
}

.NewPost>button:hover {
    border: 1px solid #285603;
    background-color: #5ccc00;
    color: #ffffff;
}

.NewPost>button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.NewPost>.cancel_button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #280145;
    background-color: #0b1baf;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 20px;
}

.NewPost>.cancel_button:hover {
    border: 1px solid #450306;
    background-color: #e41282;
    color: #ffffff;
}

.newPostModal {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    font-family: 'Inter';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b6bba0a2;
}

.newPostModal>input {
    position: relative;
    width: 94%;
    top: 5%;
    padding: 20px 0;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.24);
    font-family: "Inter";
    border-radius: 1rem;
    font-size: 15px;
}


@media screen and (min-width: 1950px) {
    .NewPost {
        max-width: 86vw;
    }
}

@media screen and (min-width: 2100px) {
    .NewPost {
        max-width: 84vw;
    }
}

@media screen and (min-width: 2250px) {
    .NewPost {
        max-width: 82vw;
    }
}

@media screen and (min-width: 2400px) {
    .NewPost {
        max-width: 80vw;
    }
}

@media screen and (min-width: 2550px) {
    .NewPost {
        max-width: 78vw;
    }
}

@media screen and (min-width: 2700px) {
    .NewPost {
        max-width: 76vw;
    }
}

@media screen and (min-width: 2850px) {
    .NewPost {
        max-width: 74vw;
    }
}

@media screen and (min-width: 3000px) {
    .NewPost {
        max-width: 73vw;
    }
}

@media screen and (min-width: 3150px) {
    .NewPost {
        max-width: 72vw;
    }
}

@media screen and (min-width: 3300px) {
    .NewPost {
        max-width: 71vw;
    }
}

@media screen and (min-width: 3450px) {
    .NewPost {
        max-width: 70vw;
    }
}