.posts-container {
  max-width: 1600px;
  margin: 30px auto;
  padding: 0 20px;
  width: 90vw; 
  height: 30vh;
  display: grid;
  grid-auto-rows: 100%; 
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
  grid-gap: 1em;
}

.posts-item {
  position: relative;
  overflow: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  border: 1px solid;
  border-color: #b6bba0a2; 
}

.main-modal-fullscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  border-radius: 12px;
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Inter';
  background-color       : #b6bba0a2; 
}

.main-modal-fullscreen-img {
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
  overflow: auto;
  max-width: 80vw;  
  max-height: 80vh; 
}

@media (min-width: 700px) {
  .posts-container {
    height: 20vh;
  }
}

@media (min-width: 1000px) {
  .posts-container {
    height: 30vh;
  }
}